*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: #ffffff;
	font-family: 'Montserrat';
	color: #000;
	/*#a2a2a2 */
	font-style: normal;
	font-size: 16px;
	font-weight: 100;
	line-height: 24px;
	position: relative;
	text-align: justify;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	border: none;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input,
textarea,
select {
	outline: none;
}

* ::-webkit-input-placeholder {
	color: #a4aeb8;
}

* :-moz-placeholder {
	color: #a4aeb8;
	opacity: 1;
}

* ::-moz-placeholder {
	color: #a4aeb8;
	opacity: 1;
}

* :-ms-input-placeholder {
	color: #a4aeb8;
}

ul,
ol {
	margin: 7px;
	padding-left: 15px;
	width: auto;
}

img {
	background-color: transparent;
	border: 0;
	font-size: 0;
	line-height: 0;
	max-width: 100%;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

a {
	color: #614A30;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #000000;
	text-decoration: none;
}

a[href^=tel],
a[href^=mail] {
	color: inherit;
	text-decoration: none;
}

a img {
	text-decoration: none;
}

a:hover img,
a:focus img,
a:active img {
	text-decoration: none;
}

sup {
	font-size: 10px;
	line-height: 0;
}

strong,
b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
}

h1 {
	font-size: 45px;
	line-height: 40px;
}

h2 {
	font-size: 40px;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	line-height: 22px;
}

h4 {
	font-size: 16px;
	line-height: 22px;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}



/* ------------------------global------------------------ */
#wrapper {
	background-color: #ffffff;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.box-wp {
	max-width: 1170px;
}

.box-wp:before,
.box-wp:after {
	display: table;
	content: " ";
}

.box-wp:after,
.clearfix:after {
	clear: both;
}

.title>a {
	color: inherit;
}

.img {
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.img * {
	line-height: 0;
	display: block;
}

.img:hover img,
.img:focus img {
	transform: scale(1.1);
	transition: transform 1s ease;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.m-right {
	margin-right: 0;
}

.m-left {
	margin-left: 0;
}

.right-100 {
	right: 100px;
}

.left-100 {
	left: 100px;
}

.right-30 {
	right: 30%;
}

.left-30 {
	left: 30%;
}

.line-h {
	height: 100px;
}

.line-h-50 {
	height: 50px;
}

.w-35 {
	width: 35%;
}

.w-65 {
	width: 65%;
}

.w-40 {
	width: 45%;
}

.w-50 {
	width: 50%;
}

.d-flex {
	display: inline-flex;
}

.m-top-60 {
	margin-top: 60px;
}

.m-top--80 {
	margin-top: -80px;
}

.m-top--80 {
	margin-top: -80px;
}

.m-bottom--60 {
	margin-bottom: -60px;
}

/* =================HEADER============ */
.header {
	padding: 20px 10px;
	color: #000000;
	position: relative;
}

.home-page .header {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
}

.header-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 3;
}

.header .header-left {
	background: #b8a47e;
	border-radius: 50%;
	float: left;
	width: 180px;
	height: 180px;
	top: -80px;
	position: relative;
}

.header .header-left .logo {
	position: absolute;
	top: 80px;
	left: 35px;
}

.logo img {
	width: 75%;
}

.header .header-right {
	float: right;
	width: calc(100% - 180px);
	display: flex;
	align-items: center;
	margin-top: -100px;
}

.header .menu-main,
.navbar {
	width: 90%;

}

.navbar {
	position: relative;
	margin: 0 0 0 -6%
}

.navigation,
.navigation ul,
.navigation ul li,
.navigation ul li a span {
	list-style: none;
	line-height: 0;
	display: flex;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navigation>ul {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.navigation:after,
.navigation>ul:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.navigation {
	width: 80%;
}

.navigation>ul>li {
	display: table-cell;

	text-align: center;
	width: 1%;
	height: 20px;
	padding: 10px 0;
	position: relative;
}

.navigation>ul>li:nth-child(n+3) a {
	color: #ffffff;
}

.navigation>ul>li>a {
	color: #000000;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	white-space: nowrap;
	padding: 3px 15px;
	position: relative;
	background: transparent;
	-webkit-transition-property: color;
	transition-property: color;
}

/* ============================SLIDER====================== */
.slider {
	position: relative;
}

.slider>#_slider {
	margin-left: 0;
}

.slide-content {
	position: absolute;
	display: flex;
	top: 50%;
	left: 90px;
	transform: translateY(-50%);
	z-index: 5555;
	margin: 60px 0 0 0;
}

.slide-content .btn {
	display: block;
	margin-top: 100px;
	text-align: center;
}

.slide-content .prev,
.slide-content .next {
	margin: 10px 0;
}

.slide-content .line-h-50 {
	margin: 25px;
}

.slide-content .num {
	margin: 10px 0;
	font-weight: 700;
}

.btn img {
	width: 50%;
}

.slide-content .num a {
	font-size: 600;
}

.slide-content .active,
.slide-content .num:hover {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
	transition: ease-in-out 0.5s;
}

.slide-content .info {
	margin: 150px 100px;
	color: #000000;
	font-weight: 600;
}

.slide-content .info h1 {
	margin: 3% 0 5% 0;
	letter-spacing: 15px;
}

.slide-content .info a {
	color: #b8a47e;
	margin: 0 0 0 40px;
}
/* =============CONTAINER============= */

.item {
	position: relative;
	padding: 110px 0px;
}

.item:nth-child(2n) {
	background-color: #ededed;
}

.item .img {
	width: 65%;
	height: auto;
}

.item .title {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99999;
}

.item .title h2,
.item .title h3 {
	color: #ffffff;
	margin: 40px;
}

.item .title h2 {
	letter-spacing: 10px;
	margin: 40px 80px;
}

.item .txt {
	position: absolute;
	width: 50%;
	top: 50%;
	border: 3px solid #b8a47e;
	transform: translateY(-50%);
}

.item .txt p {
	line-height: 40px;
	width: 55%;
	padding: 40px;
}

.arrow-down {
	position: absolute;
	z-index: 9999999;
	width: 100px;
	background-color: #ffffff;
	text-align: center;
	margin: -20px 0 0 0;
}

.arrow-down img {
	width: 30px;
	height: 90px;
}

.co-ededed {
	background-color: #ededed;
}

.number {
	position: relative;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 15px;
	padding: 10px;
	margin-top: 30px;
}

.list-pic img:hover {
	flood-opacity: 50%;
}

.product-wp {
	text-align: center;
	font-family: 'Roboto';
}

.product-wp h2,
.product-wp h3 {
	font-family: 'Montserrat';
}

.product-wp h3 {
	position: relative;
	text-align: right;
	margin: 30px 0 0 0;
}

.product-wp h3 span {
	background-color: #e1d9c9;
	padding: 0 25% 0 0;
}

.product-item {
	display: flex;
}

.product-item .info {
	margin: 30px 0 0 0;
	padding: 0 10px;
}

.info-txt {
	text-align: justify;
}

.info-txt h4 {
	color: #000;
	padding: 20px 0;
}

.product-item .info .info-txt p {
	padding: 20px 0;
}

.product-item .info .info-txt a {
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.h-50 {
	height: 50px;
}

.line-w {
	width: 100px;
	height: 1px;
	position: absolute;
	background-color: #000000;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
}

.line-h,
.line-h-50 {
	width: 1px;
	background-color: #000000;
	margin: 0;
}

.product-item .info h4 {
	letter-spacing: 5px;
}
.b-e1d9c9 {
	background-color: #e1d9c9;
	width: 100%;
	height: 25px;
	position: relative;
}

.b-e1d9c9 h4 {
	top: -30px;
	position: absolute;
}

.title-03 {
	font-size: 50px;
	line-height: 50px;
	margin: 50px 0 0 0;
	text-shadow: 5px 5px #dbdddf;
}
.list-pic {
	display: flex;
	width: 100%;
}

.list-pic .img {
	margin: 20px;
}
/* =============FOOTER============== */
.footer {
	background-color: #ededed;
	padding: 30px 10px;
}

.footer .sitemap {
	display: inline-block;
	margin: 0 -35px;
}

.footer .sitemap .ft-col1,
.footer .sitemap .ft-col2,
.footer .sitemap .ft-col3,
.footer .sitemap .ft-col4 {
	float: left;
	padding: 0 35px;
}

.footer .sitemap .ft-col2,
.footer .sitemap .ft-col3,
.footer .sitemap .ft-col4 {
	margin-top: 10px;
}

.footer .sitemap .ft-col1 {
	width: 13%;
}

.footer .sitemap .ft-col1 img {
	width: 100px;
	height: 40px;
}

.footer .sitemap .ft-col2 {
	width: 42%;
}

.footer .sitemap .ft-col3 {
	width: 18%;
}

.footer .sitemap .ft-col4 {
	width: 27%;
}

.footer .ft-sitemap {
	display: flex;
	line-height: 22px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer .ft-sitemap a {
	color: #919191;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 600;
}

.footer .ft-sitemap li {
	position: relative;
	display: flex;
}

.footer li:hover a {
	color: #000000;
}

.header li:hover .line,
header li:hover .circle,
.footer li:hover .line,
.footer li:hover .circle {
	display: block;
}

.footer .ft-col4 input,
.footer .ft-col4 button {
	height: 30px;
	margin: 10px 0;
}

.footer .ft-col4 input {
	width: 80%;
}

.footer .ft-col4 button {
	width: 35px;
	background: #292929;
	color: #fff;
	font-weight: 600;
}

.footer .copyright {
	clear: both;
	display: inline-flex;
}

.footer .copyright p {
	text-transform: uppercase;
}

.footer .copyright .social-media {
	float: left;
	margin: 0 0 0 90px;
}

.social-media a {
	margin: 0 20px;
}

.line {
	width: 25px;
	height: 2px;
}

.circle {
	width: 3px;
	height: 3px;
	border-radius: 50%;
}

.line,
.circle {
	position: absolute;
	background: #b8a47e;
	top: 10px;
	display: none;
}

.header .line {
	left: -20px;
}

.header .circle {
	right: -120px;
}

.footer .line {
	left: -30px;
}

.footer .circle {
	right: -20px;
}

@keyframes scale {
	0% {
		transform: scale(10);
	}

	50% {
		transform: scale(0.2);
	}

	70% {
		transform: scale(1.2);
	}

	90% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}
/* ============RESPONSIVE=========== */
@media screen and (max-width: 1290px) {
	.header .menu-main,
	.navbar,
	.navigation {
		width: 100%;

	}

	.right-100 {
		right: 50px;
	}

	.left-100 {
		left: 50px;
	}

	.item .txt p {
		line-height: 30px;
		padding: 30px 30px 30px 0;
	}
}

@media screen and (max-width: 1080px) {
	.navigation>ul>li>a {
		font-size: 14px;
		padding: 3px 10px;
	}

	.slide-content .btn,
	.slide-content .list-num {
		display: none;
		margin: 0;
		text-align: left;
	}

	.slide-content {
		left: 50px;
		top: 50%;
	}

	.slide-content .info {
		display: block;
		margin: 0;
	}

	.slide-content .info h1 {
		font-size: 30px;
		letter-spacing: 7px;
	}

	.item {
		padding: 20px 0px;
	}

	.item .img {
		width: 100%;
	}

	.item .txt {
		position: relative;
		transform: translateY(0);
		margin-top: 20px;
		margin-bottom: 70px;
		width: 95%;
		right: 0;
		left: 0;
	}

	.item .txt p {
		width: 100%;
		padding: 20px;
	}

	.item .title,
	.item .title h2 {
		width: 100%;
		text-align: center;
		margin: 0;
	}


	.footer .sitemap {
		display: inline-block;
		margin: 0 -15px;
	}

	.footer .sitemap .ft-col1,
	.footer .sitemap .ft-col2 {
		width: 100%;
		text-align: center;
		margin: 10px;
	}

	.footer .sitemap .ft-col3,
	.footer .sitemap .ft-col4 {
		width: 50%;
		padding: 0 5%;
	}
}

@media screen and (max-width: 960px) {
	.header .menu-main {
		width: calc(100% - 40px);
	}

}

@media screen and (max-width: 880px) {
	.home-page .header {
		position: relative;
		padding: 15px 15px 5px 50px;
	}

	.header .header-left {
		width: 50%;
		text-align: center;
		background: none;
		height: 80px;
	}

	.header .header-left .logo {
		left: 50%;
	}

	.header .header-right {
		width: 40px;
	}

	.slide-content {
		top: 20%;
	}

	.slide-content .info h1 {
		font-size: 20px;
	}

	.logo img {
		width: 150px;
		height: 70px;
	}

	.header .menu-main {
		display: none;
	}

}

@media screen and (max-width: 767px) {

	h1 {
		font-size: 35px;
		line-height: 30px;
	}

	h2 {
		font-size: 30px;
		line-height: 24px;
	}

	h3 {
		font-size: 20px;
		line-height: 21px;
	}

	h4 {
		font-size: 16px;
		line-height: 21px;
	}

	.product-item {
		display: block;
	}

	.product-item .img,
	.product-item .info {
		width: 100%;
	}

	.w-35,
	.w-65,
	.w-40,
	.w-50 {
		width: 100%;
	}

	.m-top-60,
	.m-top--80,
	.m-top--80 .m-bottom--60 {
		margin: 0;
	}

	.footer .copyright,
	.footer .copyright .social-media {
		width: 100%;
	}

	.footer .copyright {
		display: block;
		text-align: center;
		margin-top: 20px;
	}

	.footer .copyright .social-media {
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	.footer .ft-sitemap {
		display: block;
	}

	.footer .sitemap {
		display: inline-block;
		margin: 0;
	}

	.footer .sitemap .ft-col1,
	.footer .sitemap .ft-col2,
	.footer .sitemap .ft-col3,
	.footer .sitemap .ft-col4 {
		width: 100%;
		margin: 10px 0;
	}
}

.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* ==============menu-responsive================ */
.mm-hidden {
	display: none !important;
}

.mm-wrapper {
	overflow-x: hidden;
	position: relative;
	color: #000;
}

.mm-menu,
.mm-menu>.mm-panel {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.mm-menu>.mm-panel .fa-fw {
	width: 1.68571429em;
}

.mm-menu {
	background: inherit;
	display: block;
	overflow: hidden;
	padding: 0;
}

.mm-panel {
	-webkit-transition: -webkit-transform 0.4s ease;
	-moz-transition: -moz-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	-o-transition: -o-transform 0.4s ease;
	transition: transform 0.4s ease;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.mm-panel.mm-opened {
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.mm-panel.mm-subopened {
	-webkit-transform: translate3d(-30%, 0, 0);
	-moz-transform: translate3d(-30%, 0, 0);
	-ms-transform: translate3d(-30%, 0, 0);
	-o-transform: translate3d(-30%, 0, 0);
	transform: translate3d(-30%, 0, 0);
}

.mm-panel.mm-highest {
	z-index: 1;
}

.mm-menu>.mm-panel {
	background: inherit;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0 20px;
}

.mm-menu>.mm-panel.mm-hasnavbar {
	padding-top: 40px;
}

.mm-menu>.mm-panel:before,
.mm-menu>.mm-panel:after {
	content: '';
	display: block;
	height: 20px;
}

.mm-vertical .mm-panel {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
	display: none;
	padding: 10px 0 10px 10px;
}

.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after {
	border-color: transparent;
}

.mm-vertical li.mm-opened>.mm-panel,
li.mm-vertical.mm-opened>.mm-panel {
	display: block;
}

.mm-vertical .mm-listview>li>.mm-next,
.mm-listview>li.mm-vertical>.mm-next {
	height: 40px;
	bottom: auto;
}

.mm-vertical .mm-listview>li>.mm-next:after,
.mm-listview>li.mm-vertical>.mm-next:after {
	top: 16px;
	bottom: auto;
}

.mm-vertical .mm-listview>li.mm-opened>.mm-next:after,
.mm-listview>li.mm-vertical.mm-opened>.mm-next:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mm-navbar {
	border-bottom: 1px solid transparent;
	text-align: center;
	line-height: 20px;
	height: 40px;
	padding: 0 40px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.mm-navbar>* {
	display: block;
	padding: 10px 0;
}

.mm-navbar a,
.mm-navbar a:hover {
	text-decoration: none;
}

.mm-navbar .mm-title {
	font-size: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mm-navbar .mm-btn {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.mm-navbar .mm-btn:first-child {
	padding-left: 20px;
	left: 0;
}

.mm-navbar .mm-btn:last-child {
	padding-right: 20px;
	right: 0;
}

.mm-panel .mm-navbar {
	display: none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
	display: block;
}

.mm-listview,
.mm-listview>li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

.mm-listview {
	font: inherit;
	font-size: 14px;
}

.mm-listview a,
.mm-listview a:hover {
	text-decoration: none;
}

.mm-listview>li {
	position: relative;
}

.mm-listview>li>a,
.mm-listview>li>span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: inherit;
	line-height: 20px;
	display: block;
	padding: 15px 12px 12px 25px;
	margin: 0;
}

#mm-1 .mm-listview>li>a {
	text-transform: capitalize;
}

.mm-listview>li>a .fa,
.mm-listview>li>span .fa {
	color: #101C37;
	margin-left: -12px;
}

.mm-listview>li>a.mm-arrow,
.mm-listview>li>span.mm-arrow {
	padding-right: 50px;
}

#mm-0 .mm-listview>li>a,
#mm-0 .mm-listview>li>span {
	text-transform: uppercase;
}

.mm-listview>li:not(.mm-divider):after {
	content: '';
	border-bottom-width: 1px;
	border-bottom-style: solid;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.mm-listview>li:not(.mm-divider):after {
	left: 10px;
}

.mm-listview .mm-next {
	background-color: rgba(3, 2, 1, 0);
	width: 35px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 5px;
	bottom: 5px;
	z-index: 2;
}

.mm-listview .mm-next:before {
	content: '';
	border-left-width: 1px;
	border-left-style: solid;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.mm-listview .mm-next+a,
.mm-listview .mm-next+span {
	margin-right: 38px;
}

.mm-listview .mm-next.mm-fullsubopen {
	width: 100%;
}

.mm-listview .mm-next.mm-fullsubopen:before {
	border-left: none;
}

.mm-listview .mm-next.mm-fullsubopen+a,
.mm-listview .mm-next.mm-fullsubopen+span {
	padding-right: 50px;
	margin-right: 0;
}

.mm-menu>.mm-panel>.mm-listview {
	margin-left: -20px;
	margin-right: -20px;
}

.mm-menu>.mm-panel>.mm-listview.mm-first {
	margin-top: -20px;
}

.mm-menu>.mm-panel>.mm-listview.mm-last {
	padding-bottom: 20px;
}

.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
	content: '';
	border: 1px solid transparent;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mm-prev:before {
	border-right: none;
	border-bottom: none;
	left: 20px;
}

.mm-next:after,
.mm-arrow:after {
	border-top: none;
	border-left: none;
	right: 15px;
}

.mm-divider {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 10px;
	text-transform: uppercase;
	text-indent: 20px;
	line-height: 25px;
}

.mm-listview>li.mm-spacer {
	padding-top: 40px;
}

.mm-listview>li.mm-spacer>.mm-next {
	top: 40px;
}

.mm-listview>li.mm-spacer.mm-divider {
	padding-top: 25px;
}

.mm-menu {
	background-color: #ffffff;
	color: #101C37;
}

.mm-menu .mm-navbar {
	border-color: rgba(243, 237, 237, 0.2);
}

.mm-menu .mm-navbar>*,
.mm-menu .mm-navbar a {
	color: #101C37;
}

.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
	border-color: #dfdfdf;
	color: #dcdcdc;
}

.mm-menu .mm-listview>li:after {
	border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-listview>li .mm-prev:before,
.mm-menu .mm-listview>li .mm-next:after,
.mm-menu .mm-listview>li .mm-arrow:after {
	border-color: #acacac;
}

.mm-menu .mm-listview>li .mm-prev:after,
.mm-menu .mm-listview>li .mm-next:before {
	border-color: rgba(72, 72, 72, 0.05);
}

.mm-menu .mm-listview>li>a:hover,
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu .mm-listview>li.mm-selected>span {
	background-color: #f3f3f3;
}

.mm-page {
	box-sizing: border-box;
	position: relative;
}

.mm-slideout {
	-webkit-transition: -webkit-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
}

html.mm-opened {
	overflow: hidden;
	position: relative;
}

html.mm-opened body {
	overflow: hidden;
}

html.mm-background .mm-page {
	background: inherit;
}

#mm-blocker {
	background-color: rgba(3, 2, 1, 0);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
	display: block;
}

html.mm-opened #mm-blocker {
	opacity: 0;
}

html.mm-opened #mm-blocker {
	background-color: #000000;
}

html.mm-opening #mm-blocker {
	opacity: 0.2;
	transition: opacity 0.4s ease 0.4s;
}

.mm-menu.mm-offcanvas {
	display: none;
	position: fixed;
}

.mm-menu.mm-current {
	display: block;
}

.mm-menu {
	width: 80%;
	min-width: 140px;
	max-width: 280px;
}

html.mm-opening .mm-slideout {
	-webkit-transform: translate(80%, 0);
	-moz-transform: translate(80%, 0);
	-ms-transform: translate(80%, 0);
	-o-transform: translate(80%, 0);
	transform: translate(80%, 0);
}

@media all and (max-width: 175px) {
	html.mm-opening .mm-slideout {
		-webkit-transform: translate(140px, 0);
		-moz-transform: translate(140px, 0);
		-ms-transform: translate(140px, 0);
		-o-transform: translate(140px, 0);
		transform: translate(140px, 0);
	}
}

@media all and (min-width: 400px) {
	html.mm-opening .mm-slideout {
		-webkit-transform: translate(280px, 0);
		-moz-transform: translate(280px, 0);
		-ms-transform: translate(280px, 0);
		-o-transform: translate(280px, 0);
		transform: translate(280px, 0);
	}
}

.mm-menu.mm-top.mm-autoheight,
.mm-menu.mm-bottom.mm-autoheight {
	max-height: 80%;
}

.mm-menu.mm-top.mm-autoheight.mm-fullscreen,
.mm-menu.mm-bottom.mm-autoheight.mm-fullscreen {
	max-height: 100%;
}

.mm-menu.mm-measureheight>.mm-panel {
	bottom: auto !important;
	height: auto !important;
}

em.mm-counter {
	font: inherit;
	font-size: 14px;
	font-style: normal;
	text-indent: 0;
	line-height: 20px;
	display: block;
	margin-top: -10px;
	position: absolute;
	right: 45px;
	top: 50%;
}

em.mm-counter+a.mm-next {
	padding-left: 40px;
}

em.mm-counter+a.mm-next+a,
em.mm-counter+a.mm-next+span {
	margin-right: 90px;
}

em.mm-counter+a.mm-fullsubopen {
	padding-left: 0;
}

.mm-vertical>.mm-counter {
	top: 12px;
	margin-top: 0;
}

.mm-vertical.mm-spacer>.mm-counter {
	margin-top: 40px;
}

.mm-nosubresults>.mm-counter {
	display: none;
}

.mm-menu em.mm-counter {
	color: rgba(0, 0, 0, 0.3);
}

.mm-divider>span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0;
	line-height: 25px;
}

.mm-divider.mm-opened a.mm-next:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mm-collapsed:not(.mm-uncollapsed) {
	display: none;
}

.mm-fixeddivider {
	background: inherit;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mm-fixeddivider:after {
	content: none !important;
	display: none !important;
}

.mm-hasdividers .mm-fixeddivider {
	display: block;
}

.mm-menu .mm-fixeddivider span {
	background: rgba(0, 0, 0, 0.05);
}

html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.mm-menu>.mm-navbar {
	background: inherit;
	padding: 0;
	z-index: 3;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mm-navbar-bottom {
	border-top: 1px solid transparent;
	border-bottom: none;
	top: auto;
	bottom: 0;
}

.mm-navbar-top~.mm-navbar-top {
	border-bottom: none;
}

.mm-navbar-bottom~.mm-navbar-bottom {
	border-top: none;
}

.mm-navbar.mm-hasbtns {
	padding: 0 40px;
}

.mm-navbar-top-1 {
	top: 0px;
}

.mm-hasnavbar-top-1 .mm-panel {
	top: 40px;
}

.mm-hasnavbar-top-1 .mm-indexer {
	top: 50px;
}

.mm-hasnavbar-top-1 .mm-fixeddivider {
	top: 40px;
}

.mm-navbar-top-2 {
	top: 40px;
}

.mm-hasnavbar-top-2 .mm-panel {
	top: 80px;
}

.mm-hasnavbar-top-2 .mm-indexer {
	top: 90px;
}

.mm-hasnavbar-top-2 .mm-fixeddivider {
	top: 80px;
}

.mm-navbar-top-3 {
	top: 80px;
}

.mm-hasnavbar-top-3 .mm-panel {
	top: 120px;
}

.mm-hasnavbar-top-3 .mm-indexer {
	top: 130px;
}

.mm-hasnavbar-top-3 .mm-fixeddivider {
	top: 120px;
}

.mm-navbar-bottom-1 {
	bottom: 0px;
}

.mm-hasnavbar-bottom-1 .mm-panel {
	bottom: 40px;
}

.mm-hasnavbar-bottom-1 .mm-indexer {
	bottom: 50px;
}

.mm-navbar-bottom-2 {
	bottom: 40px;
}

.mm-hasnavbar-bottom-2 .mm-panel {
	bottom: 80px;
}

.mm-hasnavbar-bottom-2 .mm-indexer {
	bottom: 90px;
}

.mm-navbar-bottom-3 {
	bottom: 80px;
}

.mm-hasnavbar-bottom-3 .mm-panel {
	bottom: 120px;
}

.mm-hasnavbar-bottom-3 .mm-indexer {
	bottom: 130px;
}

.mm-close {
	text-align: right;
}

.mm-close:after {
	content: 'x';
	font-size: 22px;
	line-height: 0;
}

.mm-navbar-2>*,
.mm-navbar-3>*,
.mm-navbar-4>*,
.mm-navbar-5>*,
.mm-navbar-6>* {
	display: block;
	float: left;
}

.mm-navbar-2>* {
	width: 50%;
}

.mm-navbar-3>* {
	width: 33.33%;
}

.mm-navbar-4>* {
	width: 25%;
}

.mm-navbar-5>* {
	width: 20%;
}

.mm-navbar-6>* {
	width: 16.66%;
}

.mm-search,
.mm-search input {
	box-sizing: border-box;
}

.mm-search {
	height: 40px;
	padding: 10px 10px 0;
}

.mm-search input {
	border: none;
	border-radius: 28px;
	font: inherit;
	font-size: 13px;
	outline: none;
	display: block;
	width: 100%;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0 15px;
}

.mm-search input::-ms-clear {
	display: none;
}

.mm-panel>.mm-search {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mm-panel.mm-hassearch {
	padding-top: 40px;
}

.mm-panel.mm-hassearch.mm-hasnavbar {
	padding-top: 80px;
}

.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
	top: 40px;
}

.mm-noresultsmsg {
	text-align: center;
	font-size: 21px;
	display: none;
	padding: 40px 0;
}

.mm-noresults .mm-noresultsmsg {
	display: block;
}

.mm-noresults .mm-indexer {
	display: none !important;
}

li.mm-nosubresults>a.mm-next {
	display: none;
}

li.mm-nosubresults>a.mm-next+a,
li.mm-nosubresults>a.mm-next+span {
	padding-right: 10px;
}

.mm-menu .mm-search input {
	background-color: #eeeeee;
	color: #8d8d8d;
}

.mm-menu .mm-noresultsmsg {
	color: rgba(0, 0, 0, 0.3);
}

.mm-indexer {
	background: inherit;
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
	width: 20px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: -100px;
	z-index: 3;
	-webkit-transition: right 0.4s ease;
	-moz-transition: right 0.4s ease;
	-ms-transition: right 0.4s ease;
	-o-transition: right 0.4s ease;
	transition: right 0.4s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mm-indexer a {
	text-decoration: none;
	display: block;
	height: 3.85%;
}

.mm-indexer~.mm-panel.mm-hasindexer {
	padding-right: 40px;
}

.mm-hasindexer .mm-indexer {
	right: 0;
}

.mm-hasindexer .mm-fixeddivider {
	right: 20px;
}

.mm-menu .mm-indexer a {
	color: rgba(0, 0, 0, 0.3);
}

input.mm-toggle,
input.mm-check {
	position: absolute;
	left: -10000px;
}

label.mm-toggle,
label.mm-check {
	margin: 0;
	position: absolute;
	top: 50%;
	z-index: 2;
}

label.mm-toggle:before,
label.mm-check:before {
	content: '';
	display: block;
}

label.mm-toggle {
	border-radius: 30px;
	width: 50px;
	height: 30px;
	margin-top: -15px;
}

label.mm-toggle:before {
	border-radius: 30px;
	width: 28px;
	height: 28px;
	margin: 1px;
}

input.mm-toggle:checked~label.mm-toggle:before {
	float: right;
}

label.mm-check {
	width: 30px;
	height: 30px;
	margin-top: -15px;
}

label.mm-check:before {
	border-left: 3px solid;
	border-bottom: 3px solid;
	width: 40%;
	height: 20%;
	margin: 25% 0 0 20%;
	opacity: 0.1;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input.mm-check:checked~label.mm-check:before {
	opacity: 1;
}

li.mm-vertical label.mm-toggle,
li.mm-vertical label.mm-check {
	bottom: auto;
	margin-top: 0;
}

li.mm-vertical label.mm-toggle {
	top: 5px;
}

li.mm-vertical label.mm-check {
	top: 5px;
}

label.mm-toggle,
label.mm-check {
	right: 20px;
}

label.mm-toggle+a,
label.mm-toggle+span {
	padding-right: 80px;
}

label.mm-check+a,
label.mm-check+span {
	padding-right: 60px;
}

a.mm-next+label.mm-toggle,
a.mm-next+label.mm-check {
	right: 60px;
}

a.mm-next+label.mm-toggle+a,
a.mm-next+label.mm-toggle+span,
a.mm-next+label.mm-check+a,
a.mm-next+label.mm-check+span {
	margin-right: 50px;
}

a.mm-next+label.mm-toggle+a,
a.mm-next+label.mm-toggle+span {
	padding-right: 70px;
}

a.mm-next+label.mm-check+a,
a.mm-next+label.mm-check+span {
	padding-right: 50px;
}

em.mm-counter+a.mm-next+label.mm-toggle,
em.mm-counter+a.mm-next+label.mm-check {
	right: 100px;
}

em.mm-counter+a.mm-next+label.mm-toggle+a,
em.mm-counter+a.mm-next+label.mm-toggle+span,
em.mm-counter+a.mm-next+label.mm-check+a,
em.mm-counter+a.mm-next+label.mm-check+span {
	margin-right: 90px;
}

.mm-menu label.mm-toggle {
	background: rgba(0, 0, 0, 0.1);
}

.mm-menu label.mm-toggle:before {
	background: #f3f3f3;
}

.mm-menu input.mm-toggle:checked~label.mm-toggle {
	background: #4bd963;
}

.mm-menu label.mm-check:before {
	border-color: rgba(0, 0, 0, 0.7);
}

.mm-menu.mm-border-none .mm-listview>li:after,
.mm-listview.mm-border-none>li:after {
	content: none;
}

.mm-menu.mm-border-full .mm-listview>li:after,
.mm-listview.mm-border-full>li:after {
	left: 0 !important;
}

html.mm-effect-zoom-menu .mm-menu.mm-offcanvas {
	-webkit-transition: -webkit-transform 0.4s ease;
	-moz-transition: -moz-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	-o-transition: -o-transform 0.4s ease;
	transition: transform 0.4s ease;
}

html.mm-effect-zoom-menu.mm-opened .mm-menu.mm-offcanvas {
	-webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

html.mm-effect-zoom-menu.mm-opening .mm-menu.mm-offcanvas {
	-webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
	-moz-transform: scale(1, 1) translate3d(0%, 0, 0);
	-ms-transform: scale(1, 1) translate3d(0%, 0, 0);
	-o-transform: scale(1, 1) translate3d(0%, 0, 0);
	transform: scale(1, 1) translate3d(0%, 0, 0);
}

html.mm-effect-zoom-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
	-webkit-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
	-moz-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
	-ms-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
	-o-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
	transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
}

html.mm-effect-zoom-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
	-webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
	-moz-transform: scale(1, 1) translate3d(0%, 0, 0);
	-ms-transform: scale(1, 1) translate3d(0%, 0, 0);
	-o-transform: scale(1, 1) translate3d(0%, 0, 0);
	transform: scale(1, 1) translate3d(0%, 0, 0);
}

html.mm-effect-slide-menu .mm-menu.mm-offcanvas {
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
}

html.mm-effect-slide-menu.mm-opened .mm-menu.mm-offcanvas {
	-webkit-transform: translate3d(-30%, 0, 0);
	-moz-transform: translate3d(-30%, 0, 0);
	-ms-transform: translate3d(-30%, 0, 0);
	-o-transform: translate3d(-30%, 0, 0);
	transform: translate3d(-30%, 0, 0);
}

html.mm-effect-slide-menu.mm-opening .mm-menu.mm-offcanvas {
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
	z-index: 99;
}

html.mm-effect-slide-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
	-webkit-transform: translate3d(30%, 0, 0);
	-moz-transform: translate3d(30%, 0, 0);
	-ms-transform: translate3d(30%, 0, 0);
	-o-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0);
}

html.mm-effect-slide-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.mm-menu.mm-effect-zoom-panels .mm-panel {
	-webkit-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
	-moz-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
	-ms-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
	-o-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
	transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition-property: -webkit-transform, left;
	-moz-transition-property: -moz-transform, left;
	-ms-transition-property: -ms-transform, left;
	-o-transition-property: -o-transform, left;
	transition-property: transform, left;
}

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened {
	-webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
	-moz-transform: scale(1, 1) translate3d(0%, 0, 0);
	-ms-transform: scale(1, 1) translate3d(0%, 0, 0);
	-o-transform: scale(1, 1) translate3d(0%, 0, 0);
	transform: scale(1, 1) translate3d(0%, 0, 0);
}

.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened.mm-subopened {
	-webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	-o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
	transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
}

.mm-menu.mm-effect-slide-panels-0 .mm-panel.mm-subopened {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mm-menu.mm-effect-slide-panels-100 .mm-panel.mm-subopened {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mm-menu.mm-fullscreen {
	width: 100%;
	min-width: 140px;
	max-width: 10000px;
}

html.mm-opening.mm-fullscreen .mm-slideout {
	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

@media all and (max-width: 140px) {
	html.mm-opening.mm-fullscreen .mm-slideout {
		-webkit-transform: translate(140px, 0);
		-moz-transform: translate(140px, 0);
		-ms-transform: translate(140px, 0);
		-o-transform: translate(140px, 0);
		transform: translate(140px, 0);
	}
}

@media all and (min-width: 10000px) {
	html.mm-opening.mm-fullscreen .mm-slideout {
		-webkit-transform: translate(10000px, 0);
		-moz-transform: translate(10000px, 0);
		-ms-transform: translate(10000px, 0);
		-o-transform: translate(10000px, 0);
		transform: translate(10000px, 0);
	}
}

html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

@media all and (max-width: 140px) {
	html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
		-webkit-transform: translate(-140px, 0);
		-moz-transform: translate(-140px, 0);
		-ms-transform: translate(-140px, 0);
		-o-transform: translate(-140px, 0);
		transform: translate(-140px, 0);
	}
}

@media all and (min-width: 10000px) {
	html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
		-webkit-transform: translate(-10000px, 0);
		-moz-transform: translate(-10000px, 0);
		-ms-transform: translate(-10000px, 0);
		-o-transform: translate(-10000px, 0);
		transform: translate(-10000px, 0);
	}
}

.mm-menu.mm-fullscreen.mm-top,
.mm-menu.mm-fullscreen.mm-bottom {
	height: 100%;
	min-height: 140px;
	max-height: 10000px;
}

html.mm-opened.mm-fullscreen .mm-page {
	box-shadow: none !important;
}

.mm-menu.mm-multiline .mm-listview>li>a,
.mm-menu.mm-multiline .mm-listview>li>span,
.mm-listview.mm-multiline>li .mm-listview>li.mm-multiline>a,
.mm-listview.mm-multiline>li .mm-listview>li.mm-multiline>span {
	text-overflow: clip;
	white-space: normal;
}

.mm-menu.mm-pageshadow:after {
	content: "";
	display: block;
	width: 20px;
	height: 120%;
	position: absolute;
	left: 100%;
	top: -10%;
	z-index: 99;
}

.mm-menu.mm-pageshadow.mm-right:after {
	left: auto;
	right: 100%;
}

.mm-menu.mm-pageshadow.mm-next:after,
.mm-menu.mm-pageshadow.mm-front:after {
	content: none;
	display: none;
}

.mm-menu.mm-pageshadow:after {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.mm-menu.mm-top,
.mm-menu.mm-bottom {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.mm-menu.mm-right {
	left: auto;
	right: 0;
}

.mm-menu.mm-bottom {
	top: auto;
	bottom: 0;
}

html.mm-right.mm-opening .mm-slideout {
	-webkit-transform: translate(-80%, 0);
	-moz-transform: translate(-80%, 0);
	-ms-transform: translate(-80%, 0);
	-o-transform: translate(-80%, 0);
	transform: translate(-80%, 0);
}

@media all and (max-width: 175px) {
	html.mm-right.mm-opening .mm-slideout {
		-webkit-transform: translate(-140px, 0);
		-moz-transform: translate(-140px, 0);
		-ms-transform: translate(-140px, 0);
		-o-transform: translate(-140px, 0);
		transform: translate(-140px, 0);
	}
}

@media all and (min-width: 350px) {
	html.mm-right.mm-opening .mm-slideout {
		-webkit-transform: translate(-280px, 0);
		-moz-transform: translate(-280px, 0);
		-ms-transform: translate(-280px, 0);
		-o-transform: translate(-280px, 0);
		transform: translate(-280px, 0);
	}
}

html.mm-front .mm-slideout {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	z-index: 0 !important;
}

.mm-menu.mm-front {
	z-index: 1;
}

.mm-menu.mm-front,
.mm-menu.mm-next {
	-webkit-transition: -webkit-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mm-menu.mm-front.mm-right,
.mm-menu.mm-next.mm-right {
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.mm-menu.mm-top {
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.mm-menu.mm-bottom {
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

html.mm-opening .mm-menu.mm-front,
html.mm-opening .mm-menu.mm-next {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mm-menu.mm-top,
.mm-menu.mm-bottom {
	height: 80%;
	min-height: 140px;
	max-height: 880px;
}

.mm-menu.mm-theme-dark {
	background: #333333;
	color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-navbar {
	border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-navbar>*,
.mm-menu.mm-theme-dark .mm-navbar a {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-dark .mm-navbar .mm-btn:after {
	border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-listview>li:after {
	border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-listview>li .mm-prev:before,
.mm-menu.mm-theme-dark .mm-listview>li .mm-next:after,
.mm-menu.mm-theme-dark .mm-listview>li .mm-arrow:after {
	border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-listview>li .mm-prev:after,
.mm-menu.mm-theme-dark .mm-listview>li .mm-next:before {
	border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>span {
	background: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened>a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened>.mm-panel,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical>a.mm-next,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical>.mm-panel {
	background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-theme-dark .mm-divider {
	background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-theme-dark label.mm-check:before {
	border-color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark em.mm-counter {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-fixeddivider span {
	background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-pageshadow.mm-theme-dark:after {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mm-menu.mm-theme-dark .mm-search input {
	background: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-noresultsmsg {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-indexer a {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark label.mm-toggle {
	background: rgba(0, 0, 0, 0.15);
}

.mm-menu.mm-theme-dark label.mm-toggle:before {
	background: #333333;
}

.mm-menu.mm-theme-dark input.mm-toggle:checked~label.mm-toggle {
	background: #4bd963;
}

.mm-menu.mm-theme-white {
	background: white;
	color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white .mm-navbar {
	border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-navbar>*,
.mm-menu.mm-theme-white .mm-navbar a {
	color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-white .mm-navbar .mm-btn:after {
	border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-listview>li:after {
	border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-listview>li .mm-prev:before,
.mm-menu.mm-theme-white .mm-listview>li .mm-next:after,
.mm-menu.mm-theme-white .mm-listview>li .mm-arrow:after {
	border-color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-listview>li .mm-prev:after,
.mm-menu.mm-theme-white .mm-listview>li .mm-next:before {
	border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu.mm-theme-white .mm-listview>li.mm-selected>span {
	background: rgba(0, 0, 0, 0.05);
}

.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened>a.mm-next,
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened>.mm-panel,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical>a.mm-next,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical>.mm-panel {
	background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-theme-white .mm-divider {
	background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-theme-white label.mm-check:before {
	border-color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white em.mm-counter {
	color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-fixeddivider span {
	background: rgba(0, 0, 0, 0.03);
}

.mm-menu.mm-pageshadow.mm-theme-white:after {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mm-menu.mm-theme-white .mm-search input {
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-white .mm-noresultsmsg {
	color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white .mm-indexer a {
	color: rgba(0, 0, 0, 0.3);
}

.mm-menu.mm-theme-white label.mm-toggle {
	background: rgba(0, 0, 0, 0.1);
}

.mm-menu.mm-theme-white label.mm-toggle:before {
	background: white;
}

.mm-menu.mm-theme-white input.mm-toggle:checked~label.mm-toggle {
	background: #4bd963;
}

.mm-menu.mm-theme-black {
	background: black;
	color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black .mm-navbar {
	border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-navbar>*,
.mm-menu.mm-theme-black .mm-navbar a {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-black .mm-navbar .mm-btn:after {
	border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-listview>li:after {
	border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-listview>li .mm-prev:before,
.mm-menu.mm-theme-black .mm-listview>li .mm-next:after,
.mm-menu.mm-theme-black .mm-listview>li .mm-arrow:after {
	border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-listview>li .mm-prev:after,
.mm-menu.mm-theme-black .mm-listview>li .mm-next:before {
	border-color: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview>li.mm-selected>span {
	background: rgba(255, 255, 255, 0.3);
}

.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened>a.mm-next,
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened>.mm-panel,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical>a.mm-next,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical>.mm-panel {
	background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-divider {
	background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black label.mm-check:before {
	border-color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black em.mm-counter {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-fixeddivider span {
	background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-pageshadow.mm-theme-black:after {
	content: none;
	display: none;
}

.mm-menu.mm-theme-black .mm-search input {
	background: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.6);
}

.mm-menu.mm-theme-black .mm-noresultsmsg {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black .mm-indexer a {
	color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-black label.mm-toggle {
	background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black label.mm-toggle:before {
	background: black;
}

.mm-menu.mm-theme-black input.mm-toggle:checked~label.mm-toggle {
	background: #4bd963;
}

.mm-listview li.tth-mm-search,
.mm-listview li.tth-mm-category {
	display: none;
	height: 0;
}

@media screen and (max-width: 959px) {
	.mm-listview li.tth-mm-search {
		display: block;
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.mm-listview li.tth-mm-category {
		display: block;
		height: auto;
	}
}

.mm-navbar-bottom {
	text-align: center;
}

.mm-navbar-bottom a {
	background-color: #bfbfbf;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #ffffff !important;
	display: inline-block !important;
	float: none;
	font-size: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	margin: 5px;
}

.mm-navbar-bottom a.facebook:hover,
.mm-navbar-bottom a.facebook:focus,
.mm-navbar-bottom a.facebook:active {
	background-color: #37528d;
}

.mm-navbar-bottom a.instagram:hover,
.mm-navbar-bottom a.instagram:focus,
.mm-navbar-bottom a.instagram:active {
	background-color: #e03663;
}

.mm-navbar-bottom a.twitter:hover,
.mm-navbar-bottom a.twitter:focus,
.mm-navbar-bottom a.twitter:active {
	background-color: #33bce9;
}

.mm-navbar-bottom a.youtube:hover,
.mm-navbar-bottom a.youtube:focus,
.mm-navbar-bottom a.youtube:active {
	background-color: #ee1c1b;
}

.mm-navbar-bottom a.tripadvisor:hover,
.mm-navbar-bottom a.tripadvisor:focus,
.mm-navbar-bottom a.tripadvisor:active {
	background-color: #3ce0a1;
}

.mm-navbar-bottom a.linkedin:hover,
.mm-navbar-bottom a.linkedin:focus,
.mm-navbar-bottom a.linkedin:active {
	background-color: #148bba;
}

#hamburger {
	border: 1px solid transparent;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	position: absolute;
	top: calc(50% - 25px);
	left: 5px;
	z-index: 9;
	margin: 0;
	display: none;
}

#hamburger:before,
#hamburger:after,
#hamburger span {
	background-color: #ffffff;
	border-radius: 5px;
	content: '';
	display: block;
	width: 25px;
	height: 3px;
	position: absolute;
	right: 10px;
}

.home-page #hamburger:before,
.home-page #hamburger:after,
.home-page #hamburger span {
	background-color: #101B37;
}

#hamburger:before {
	top: 12px;
}

#hamburger span {
	top: 22px;
}

#hamburger:after {
	top: 32px;
}

#hamburger:before,
#hamburger:after,
#hamburger span {
	-webkit-transition: none 0.5s ease 0.5s;
	transition: none 0.5s ease 0.5s;
	-webkit-transition-property: transform, top, bottom, right, opacity;
	transition-property: transform, top, bottom, right, opacity;
}

html.mm-opening #hamburger:before,
html.mm-opening #hamburger:after {
	top: 22px;
}

html.mm-opening #hamburger span {
	right: -50px;
	opacity: 0;
}

html.mm-opening #hamburger:before {
	transform: rotate(45deg);
}

html.mm-opening #hamburger:after {
	transform: rotate(-45deg);
}

@media screen and (max-width: 880px) {
	#hamburger {
		display: block;
	}
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,
.owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative
}

.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	list-style: none
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
	display: none !important
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
	display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}

.owl-carousel.owl-hidden {
	opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab
}

.owl-carousel.owl-rtl {
	direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
	float: right
}

.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
	z-index: 0
}

.owl-carousel .owl-animated-out {
	z-index: 1
}

.owl-carousel .fadeOut {
	animation-name: fadeOut
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.owl-height {
	transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(../images/owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
	display: none
}

.owl-theme .owl-nav [class*=owl-] {
	position: absolute;
	top: 0;
	outline: 0;
	width: 65px;
	height: 100%;
	text-indent: -9999px;
	z-index: 5;
}

.owl-theme .owl-nav .owl-prev {
	background: url(../images/arl.png) center no-repeat;
	left: 0
}

.owl-theme .owl-nav .owl-next {
	background: url(../images/arr.png) center no-repeat;
	right: 0
}

.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}

.owl-theme .owl-dots {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
	margin: 5px;
	background: #e1e1e1;
	border: 1px solid #dfdfdf;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px
}

.owl-theme .owl-dots .owl-dot:hover span {
	background: #adb5c1
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #adb5c1
}

.owl-carousel.owl-theme:hover .owl-nav {
	display: block
}